<form [formGroup]="addAbsenceForm" (ngSubmit)="add()">
    <div>
      <label for="userId">User ID*</label>
      <input type="text" id="userId" formControlName="UserId" required placeholder="123"/>
    </div>
    <div>
      <label for="AbsenceDefinitionName">Type*</label>
      <input type="text" id="AbsenceDefinitionName" formControlName="AbsenceDefinitionName" required placeholder="Holiday"/>
    </div>
    <div>
      <label for="from">From*</label>
      <input type="date" class="date-picker" id="from" formControlName="PartialTimeFrom" required/>
    </div>
    <div>
        <label for="to">To*</label>
        <input type="date" class="date-picker" id="to" formControlName="PartialTimeTo" required/>
      </div>
    <button type="submit" [disabled]="!addAbsenceForm.valid">Add Absence</button>
    <button type="button" routerLink="/users">Back</button>
  </form>
  