<form [formGroup]="addAbsenceForm" (ngSubmit)="add()">
    <h2>Add absence for user ID:</h2>
    <h2>{{id}}</h2>
    <label for="type">Type of absence*</label>
      <select name="type" formControlName="Id">
        <option *ngFor="let item of responseData" value="{{item.Id}}">{{item.Name}}</option>
      </select>
    
    <div>
      <label for="from">From*</label>
      <input type="date" class="date-picker" id="from" formControlName="PartialTimeFrom" required/>
    </div>
    <div>
        <label for="to">To*</label>
        <input type="date" class="date-picker" id="to" formControlName="PartialTimeTo" required/>
      </div>
    <button type="submit" [disabled]="!addAbsenceForm.valid">Add Absence</button>
    <button type="button" routerLink="/users">Back</button>
  </form>
  